<div id="sidebar" class="hidden">
    <div id="sidebar-list">
        <a href="/" class="sidebar-list-item <%= activePage === 'home' ? 'active' : '' %>">
            <span class="icon home"></span>
            <span class="sidebar-list-item-text">Home</span>
        </a>
        <a href="/import" class="sidebar-list-item <%= activePage === 'import' ? 'active' : '' %>">
            <span class="icon import"></span>
            <span class="sidebar-list-item-text">Import</span>
        </a>
        <div class="sidebar-list-item sidebar-list-item-dropdown <%= activePage === 'workflow' ? 'active' : '' %>">
            <span class="icon server"></span>
            <span class="sidebar-list-item-text">Workflows</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <div class="sidebar-dropdown-list hidden">
            <span>Loading workflows...</span>
        </div>
        <a href="/queue" class="sidebar-list-item <%= activePage === 'queue' ? 'active' : '' %>">
            <span class="icon clock"></span>
            <span class="sidebar-list-item-text">Queue <span id="queue-count"></span></span>
        </a>
        <div class="sidebar-list-item sidebar-list-item-dropdown gallery-dropdown <%= activePage === 'gallery' || activePage === 'input-images' ? 'active' : '' %> <%= galleryDisabled ? 'disabled' : '' %>" id="gallery-dropdown">
            <span class="icon gallery"></span>
            <span class="sidebar-list-item-text">Gallery</span>
            <span class="dropdown-arrow">▼</span>
        </div>
        <div class="sidebar-dropdown-list gallery-dropdown-list hidden" id="gallery-dropdown-list">
            <% if (galleryDisabled) { %>
                <span class="sidebar-dropdown-list-item disabled">No gallery directories configured</span>
            <% } else { %>
                <% if (hasOutputDir) { %>
                    <a href="/gallery/" class="sidebar-dropdown-list-item">
                        <span class="icon gallery"></span>
                        <span class="sidebar-list-item-text">Output Images</span>
                    </a>
                <% } %>
                <% if (hasInputDir) { %>
                    <a href="/input-images/" class="sidebar-dropdown-list-item">
                        <span class="icon input-images"></span>
                        <span class="sidebar-list-item-text">Input Images</span>
                    </a>
                <% } %>
            <% } %>
        </div>
        <a href="/settings" class="sidebar-list-item <%= activePage === 'settings' ? 'active' : '' %>">
            <span class="icon settings"></span>
            <span class="sidebar-list-item-text">Settings</span>
        </a>
    </div>
</div>
<div id="sidebar-overlay" class="hidden"></div>
<script src="/js/sidebar.js" type="module" defer></script>
